{% extends 'index.html' %}

<title>{% block title %} All Projects {% endblock %}</title>
{% block pagecontent %}
<section class="all-projects container">
  <div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-5 fw-bold">All Projects</h1>
      <p class="lead mb-4">
        We gonna outline some shizzle here underneath all this shit..
      </p>
      <h3 class="display-6 fw-bold">ALL PROJECTS LISTED BELOW</h3>
      <ul class="">
        {% for project in projects %}
        <li class="list-group-item">
          <h4>{{ project.title }}</h4>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}
